<tr>
  <td  class="mobile-block" >
    <br>
    <br>

    <table cellspacing="0" cellpadding="0" class="force-full-width">
      <tr>
        <td style="color:#ffffff; background-color:#ac4d2f; padding: 10px 0px;">
          Tutorial: Finding Important Words in Text Using TF-IDF
        </td>
      </tr>
      <tr>
        <td style="color:#933f24; padding:10px 0px; background-color: #f7a084;">
          stevenloria.com
        </td>
      </tr>
    </table>

    <br>
  </td>
</tr>

<tr>
  <td>
    <div>
      <a href="http://"
         style="background-color:#AC4D2F;border-radius:4px;color:#ffffff;display:inline-block;font-family:Helvetica,
                Arial,
                sans-serif;font-size:16px;font-weight:bold;line-height:50px;text-align:center;text-decoration:none;width:200px;-webkit-text-size-adjust:none;">Read Now</a>
    </div>
    <br />
    <br />
  </td>
</tr>
