/* purplish */
/* darkish purplish */
/* $primary-color: #252B33; */
/* angelspeaker color */
/* $primary-color: #EF4836; */
/* muhammetcan.net color */
/* line 13, ../sass/custom.scss */
html, body {
  /* background-color: #f1f2f7; */
  /* background-color: #fafafa; */
  background-color: white;
  min-height: 100%;
  height: 100%;
}

/* line 21, ../sass/custom.scss */
header.rp {
  width: 100%;
  padding-top: 100px;
  padding-bottom: 20px;
  background-color: #654bac;
  border-top: 6px solid #4b3a79;
}
/* line 28, ../sass/custom.scss */
header.rp .container {
  height: 100%;
}
/* line 32, ../sass/custom.scss */
header.rp .header-inner {
  height: 100%;
  padding: 15px;
}
/* line 38, ../sass/custom.scss */
header.rp h1, header.rp h2, header.rp h3, header.rp h4, header.rp h5 {
  color: #f1f2f7;
}
/* line 42, ../sass/custom.scss */
header.rp p {
  color: #f1f2f7;
}

/* line 47, ../sass/custom.scss */
footer {
  width: 100%;
  height: 60px;
  /* margin-top: 50px; */
  background-color: #654bac;
  border-bottom: 4px solid #4b3a79;
}
/* line 54, ../sass/custom.scss */
footer .text-center {
  line-height: 60px;
  text-align: center;
  color: white;
}

/* line 61, ../sass/custom.scss */
#navigation {
  /* padding: 30px 0; */
  /* background-color: $light-white; */
  border-bottom: 1px solid #fafafa;
}
/* line 66, ../sass/custom.scss */
#navigation .navigationWrapper {
  /* .btn { */
  /*     &.btn-special { */
  /*         background-color: $primary-color-alt; */
  /*         &:hover { */
  /*             background-color: $white; */
  /*         } */
  /*     } */
  /* } */
}
/* line 68, ../sass/custom.scss */
#navigation .navigationWrapper .navbutton {
  display: table;
  float: left;
  background-color: #fff;
  border-bottom: 3px solid #fff;
  font-variant: small-caps;
  font-weight: 500;
  color: #797979;
  padding: 18px 15px 15px 15px;
  transition: all .3s ease;
}
/* line 79, ../sass/custom.scss */
#navigation .navigationWrapper .navbutton i {
  display: table-cell;
  vertical-align: middle;
  font-size: 1.5em;
  padding: 5px;
}
/* line 86, ../sass/custom.scss */
#navigation .navigationWrapper .navbutton span {
  display: table-cell;
  vertical-align: middle;
  margin-bottom: 2px;
}
/* line 92, ../sass/custom.scss */
#navigation .navigationWrapper .navbutton:hover {
  background-color: #fafafa;
  border-bottom: 3px solid #4b3a79;
  color: #444444;
}

/* line 111, ../sass/custom.scss */
#content {
  padding: 0 15px;
  font-size: 16px;
  min-height: 100%;
  /* font-family: Georgia; */
  font-weight: 400;
  font-style: normal;
  line-height: 25px;
  color: #333;
}
/* line 121, ../sass/custom.scss */
#content h1 {
  font-size: 52px;
  line-height: 60px;
  margin: 50px 0px 5px 0px;
  font-weight: 400;
  font-style: normal;
}
/* line 129, ../sass/custom.scss */
#content h2 {
  font-size: 36px;
  line-height: 46px;
  margin: 50px 0px 5px 0px;
}
/* line 136, ../sass/custom.scss */
#content p {
  margin: 0px 0px 25px 0px;
  text-transform: inherit;
  font-size: 16px;
}
/* line 142, ../sass/custom.scss */
#content ul {
  margin: 10px 20px;
  padding: 10px 20px;
}
/* line 146, ../sass/custom.scss */
#content ul li {
  list-style: disc;
}
/* line 151, ../sass/custom.scss */
#content strong {
  margin-top: 30px;
}
/* line 155, ../sass/custom.scss */
#content img {
  max-width: 100%;
  margin: 20px auto;
  display: block;
}

/* line 163, ../sass/custom.scss */
.posts {
  float: left;
  margin: 20px auto;
  width: 100%;
}
/* line 168, ../sass/custom.scss */
.posts .post {
  /* background-color: lighten($primary-color, 50%); */
  -webkit-box-shadow: 0 8px 10px -6px #ddd;
  -moz-box-shadow: 0 8px 10px -6px #ddd;
  box-shadow: 0 8px 10px -6px #ddd;
  /* padding: 10px; */
  height: 350px;
  margin: 15px auto;
  position: relative;
}
/* line 179, ../sass/custom.scss */
.posts .post .thumbnail {
  width: 100%;
  height: 200px;
  border: none;
  border-radius: 0;
  padding: 0;
}
/* line 186, ../sass/custom.scss */
.posts .post .thumbnail .please {
  background-color: #aaa;
  width: 100%;
  height: 100%;
}
/* line 193, ../sass/custom.scss */
.posts .post .title {
  padding: 0 10px;
  font-weight: 600;
}
/* line 196, ../sass/custom.scss */
.posts .post .title a {
  color: #444444;
  transition: all 0.3s ease;
}
/* line 200, ../sass/custom.scss */
.posts .post .title a:hover {
  color: #654bac;
}
/* line 206, ../sass/custom.scss */
.posts .post .time {
  padding: 0 10px;
}
/* line 210, ../sass/custom.scss */
.posts .post .domain {
  color: #444444;
  position: absolute;
  bottom: 10px;
  left: 10px;
  right: 10px;
  display: block;
  padding-top: 10px;
  /* border-top: 1px solid lighten($primary-color, 30%); */
}

/* footer */
/* line 225, ../sass/custom.scss */
.page-wrap {
  min-height: 100%;
  margin-bottom: -60px;
}

/* line 230, ../sass/custom.scss */
.page-wrap:after {
  content: "";
  display: block;
}

/* line 235, ../sass/custom.scss */
.page-wrap:after {
  /* .push must be the same height as footer */
  height: 60px;
}

/* line 241, ../sass/custom.scss */
.panel {
  margin: 30px auto;
}
/* line 244, ../sass/custom.scss */
.panel h3 {
  font-variant: small-caps;
  margin-bottom: 0;
}

/* end of footer */
/* modals */
/* line 254, ../sass/custom.scss */
.modal-dialog {
  width: 400px;
}
/* line 257, ../sass/custom.scss */
.modal-dialog .form-signin {
  margin: auto;
}
/* line 261, ../sass/custom.scss */
.modal-dialog .modal-header {
  background-color: #654bac;
}

/* end of modals */
/* generics */
/* line 269, ../sass/custom.scss */
.tcenter {
  text-align: center;
  margin: auto;
}

/* line 275, ../sass/custom.scss */
ul li {
  font-size: 1.2em;
  line-height: 1.6em;
  margin-left: 20px;
  list-style: square;
}

/* line 283, ../sass/custom.scss */
.btn {
  /* icons inside buttos */
  /* primary color btn */
}
/* line 286, ../sass/custom.scss */
.btn i.fa {
  margin: auto 7px auto auto;
}
/* line 293, ../sass/custom.scss */
.btn.btn-special {
  background-color: #654bac;
  color: #eaeaea;
  border: 1px solid #eaeaea;
  transition: all ease 0.3s;
  outline: 0;
}
/* line 300, ../sass/custom.scss */
.btn.btn-special.btn-modal {
  width: 100%;
  margin: 10px auto;
}
/* line 306, ../sass/custom.scss */
.btn.btn-special:hover {
  background-color: white;
  border: 1px solid #654bac;
  color: #444444;
}
/* line 312, ../sass/custom.scss */
.btn.btn-special:active {
  border: 1px solid #654bac;
}

/* end of generics */
