<div class="navigationWrapper">
  {% if user %}
  <a href="/" class="navbutton">
    <i class="fa fa-home"></i><span>home</span></a>
  <a href="#newdocumentModal" data-toggle="modal"
     class="navbutton">
    <i class="fa fa-plus"></i><span>new document</span></a>
  <a href="/user/profile"
     class="navbutton">
    <i class="fa fa-user"></i><span>{{user.username}}</span></a>
  <a href="/logout"
     class="navbutton">
    <i class="fa fa-sign-out"></i><span>logout</span></a>
  {% else %}
  <a href="/" class="navbutton">
    <i class="fa fa-home"></i><span>home</span></a>
  <a href="#newdocumentModal" data-toggle="modal"
     class="navbutton">
    <i class="fa fa-plus"></i><span>new document</span></a>
  {% endif %}
</div>
