<div class="col-sm-6 col-md-4">
  <div class="post">
    <div class="thumb">
      {% if post.thumbnail %}
      <div class="thumbnail"
           style="background: url({{post.thumbnail}})
                  no-repeat scroll 50% 50% / cover transparent;">
      </div>
      {% else %}
      <div class="thumbnail">
        <div class="please"></div>
      </div>
      {% endif %}
      {% if post.note %}
      <div class="postnote">
        `{{ post.note }}´
      </div>
      {% endif %}

      <div class="thumbnail-hover">
        <div class="add-tag">
          <a href="javascript:void(0)" class="edittag btn btn-info tooltips"
             data-id="{{post.id}}" data-title="{{post.title}}"
             data-toggle="tooltip" data-url="{{post.url}}"
             data-original-title="Insert New Tag" data-placement="bottom">
            <i class="fa fa-tag"></i></a>

          <a href="javascript:void(0)" class="sharesingle btn btn-info tooltips"
             data-id="{{post.id}}" data-title="{{post.title}}"
             data-url="{{post.url}}" data-toggle="tooltip"
             data-original-title="Share Post" data-placement="bottom">
            <i class="fa fa-share-alt"></i></a>

          <a href="javascript:void(0)" class="deletepost btn btn-info tooltips"
             data-id="{{post.id}}" data-title="{{post.title}}"
             data-url="{{post.url}}" data-toggle="tooltip"
             data-original-title="Delete Post" data-placement="bottom">
            <i class="fa fa-remove"></i></a>

          <a href="javascript:void(0)" class="takenote btn btn-info tooltips"
             data-id="{{post.id}}" data-title="{{post.title}}"
             data-url="{{post.url}}" data-toggle="tooltip"
             data-original-title="Take Note" data-placement="bottom">
            <i class="fa fa-pencil"></i></a>

        </div> <!-- end of add-tag -->

      </div>
    </div>


    <div class="title">
      {% if post.post_type == "pdf" %}
      <a href="{{post.url}}">{{post.title | truncate(70)}}</a>
      {% else %}
      <a href="/{{post.seq}}/{{post.slug}}">{{post.title | truncate(70)}}</a>
      {% endif %}
    </div>

    <div class="time">
      saved <time class="timeago" datetime="{{post.saved_date}}"></time>
    </div>

    <div class="tags">
      {% for tag in post.tags %}
      <a href="/user/tag/{{tag}}">
        <div class="tag">
          {{tag}}
        </div>
      </a>
      {% endfor %}
    </div>

    <div class="domain">
      ({{post.domain}})
    </div>

  </div> <!-- end of post -->
</div>
