{% extends "base.html" %}

{% block headtag %}
  {{ super() }}
{% endblock %}

{% block body %}
<div class="page-wrap">

 <header class="rp">
   <div class="container">
     <div class="header-inner">

       <div class="col-xs-6">
         <h2>reading.pub</h2>
         <p>read with pleasure</p>
       </div>
     </div> <!-- end of header-inner -->
   </div>
 </header>

 <div id="navigation">
   <div class="container">
     <div class="col-xs-12">
       {% include "snippets/navigation.html" %}
     </div>
   </div>
 </div>

 <div class="container">
   <div class="posts">
   {% for post in posts %}
     {% include "snippets/posts.html" %}
   {% endfor %}
   </div>
 </div> <!-- end of container -->

</div> <!-- end of page-wrap -->
{% block footer %}
  {{ super() }}
{% endblock %}


{% block jsblock %}
  {{ super() }}
<script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/jquery-timeago/1.4.0/jquery.timeago.min.js"></script>
{% endblock %} <!-- end of jsblock -->
{% endblock %} <!-- end of body block -->
