{% extends "base.html" %}

{% block headtag %}
  {{ super() }}
{% endblock %}

{% block body %}
<div class="page-wrap">

 <header class="rp">
   <div class="container">
     <div class="header-inner">

       <div class="col-xs-6">
         <h2>reading.pub</h2>
         <p>read with pleasure</p>
       </div>
     </div> <!-- end of header-inner -->
   </div>
 </header>
 <div class="container">
   <div class="insert">
     <div class="panel">
       <div class="panel-heading">
         <h3>read new document</h3>
       </div>

       <div class="panel-body">
         <form role="form" action="/parsed" method="POST">
           <div class="form-group">
             <label for="urlInput">Paste URL Below</label>
             <input type="text" name="url" placeholder="Paste URL here"
                    id="urlInput" class="form-control">
           </div>

           <button class="btn btn-special" type="submit">
             <i class="fa fa-send"></i> Read with Pleasure
           </button>
         </form>
       </div> <!-- panel-body -->
     </div>   <!-- panel -->

   </div> <!-- end of insert -->

   <div class="posts">
   {% for post in posts %}
     {% include "snippets/posts.html" %}
   {% endfor %}
   </div>
 </div> <!-- end of container -->

</div> <!-- end of page-wrap -->
{% block footer %}
  {{ super() }}
{% endblock %}


{% block jsblock %}
  {{ super() }}
<script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/jquery-timeago/1.4.0/jquery.timeago.min.js"></script>
{% endblock %} <!-- end of jsblock -->
{% endblock %} <!-- end of body block -->
