{% extends "base.html" %}

{% block headtag %}
  {{ super() }}
{% endblock %}

{% block body %}



 <header class="rp">
   <div class="container">
     <div class="header-inner">

       <div class="col-xs-7">
         <h2>{{post.title}}</h2>
         <p>{{post.excerpt | truncate(200) | safe}}</p>
       </div>
     </div> <!-- end of header-inner -->
   </div>
 </header>

 <div id="navigation">
   <div class="container">
     <div class="col-xs-12">
       {% include "snippets/navigation.html" %}
     </div>
   </div>
 </div>


 <div class="container">
   <div class="col-xs-12 col-md-10 col-lg-7">

     <div id="content">
       <h2>{{post.title}}</h2>
       {{post.content | safe}}
     </div>
   </div>
 </div>

{% block footer %}
  {{ super() }}
{% endblock %}


{% block jsblock %}
  {{ super() }}
 <script type="text/javascript">

   // readlater button clicked
   $('#readlater').on('click', function () {
       console.log("{{post.url}}");

       setTimeout(function () {
           var target_url = "{{post.url}}";
           var scrape_url = "/post/scrape";
           var save_url = "/post/save"

           var data = {
               url: target_url,
           }

           $.ajax({
               type: "POST",
               url : scrape_url,
               data: JSON.stringify(data, null, '\t'),
               contentType: 'application/json;charset=UTF-8',
               success: function(result) {
                   var res = JSON.parse(result);

                   $.ajax({
                       type: "POST",
                       url: save_url,
                       data: JSON.stringify(res, null, '\t'),
                       contentType: 'application/json;charset=UTF-8',
                       success: function(data){
                           console.log(data);
                       }
                   });
               },
               error: function(result) {
                   var res = {
                       thumbnail: "/static/img/nofoto.jpg",
                       url: target_url,
                       title: "no title"
                   }
                   console.log(res);
               },
               beforeSend: function() {
                   $("#readlater i").removeClass("fa-save");
                   $("#readlater i").addClass("fa-spinner");
                   $("#readlater i").addClass("fa-spin");
                   $("#readlater span").text("Saving..");
               },
               complete: function(){
                   $("#readlater i").removeClass("fa-spinner");
                   $("#readlater i").removeClass("fa-spin");
                   $("#readlater i").addClass("fa-star");
                   $("#readlater span").text("Saved!");
               },
               timeout: 10000
           });

           // make a httprequest to server with url
       }, 100);
   });


 </script>

{% endblock %} <!-- end of jsblock -->
{% endblock %} <!-- end of body block -->
