{% extends "base.html" %}

{% block headtag %}
  {{ super() }}
{% endblock %}

{% block body %}

<!-- add-note modal -->
<div aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" data-username="{{user.username}}"
     tabindex="-1" id="addNoteModal" class="modal fade" style="display: none;">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button aria-hidden="true" data-dismiss="modal" class="close" type="button">×</button>
        <h4 class="modal-title">Write Your Note!</h4>
      </div>
      <div class="modal-body">

        <div class="login-wrap">
          <textarea type="text" placeholder="Type Your Note"
                    id="noteArea" name="noteArea" class="form-control"></textarea>
          <div class="tcenter">
            <button class="btn btn-special btn-modal" onclick="addNote();">
              <i class="fa fa-send"></i> Add Your Note
            </button>
          </div>
        </div> <!-- end of login-wrap -->

      </div>

    </div>
  </div>
</div>
<!-- end of add-note modal -->


<div class="highlight-wrapper">
  <div class="highlight">
    <div class="buttons">
      <a href="javascript:void(0)" onclick="highlightSelected();">
        <i class="fa fa-bars"></i>
      </a>
    </div>
    <div class="buttons">
      <a href="javascript:void(0)" onclick="toggleNoteModal();">
        <i class="fa fa-edit"></i>
      </a>
    </div>
  </div>
</div>

<div class="page-wrap">
 <header class="rp">
   <div class="container">
     <div class="header-inner">

       <div class="col-xs-12 col-md-10 col-lg-7 left">
         <h2>{{post.title}}</h2>
         <p>{{post.excerpt | truncate(200) | safe}}</p>
       </div>
     </div> <!-- end of header-inner -->
   </div>
 </header>

 <div id="navigation">
   <div class="container">
     <div class="col-xs-12">
       {% include "snippets/navigation.html" %}
     </div>
   </div>
 </div>


 <div class="container">
   <div class="col-xs-12 col-md-10 col-lg-7">

     <div id="content">
       <div class="originalarticle">
         original article can be read
         from <a href="{{post.url}}">{{post.domain}}</a> <br />
         <div class="time">
           saved <time class="timeago" datetime="{{post.saved_date}}"></time>
         </div>
         by {{post.author}}
       </div>

       <h2>{{post.title}}</h2>
       <div class="content-data" data-id="{{post.id}}">
         {{post.content | safe}}
       </div>
     </div> <!-- end of content -->
   </div>
 </div> <!-- end of container -->


   {% if related_posts %}
   <div class="ayrac">
     Related Articles
   </div>
   {% endif %}


 <div class="container">
   <div class="col-md-12">
     <div class="posts">
       {% for relation in related_posts %}
       {% include "snippets/related_posts.html" %}
       {% endfor %}
     </div>

   </div>

 </div>

</div>

{% block footer %}
  {{ super() }}
{% endblock %}


{% block jsblock %}
  {{ super() }}
 <script type="text/javascript">

   // readlater button clicked
   $('#readlater').on('click', function () {
       console.log("{{post.url}}");

       setTimeout(function () {
           var target_url = "{{post.url}}";
           var scrape_url = "/post/scrape";
           var save_url = "/post/save"

           var data = {
               url: target_url,
           }

           $.ajax({
               type: "POST",
               url : scrape_url,
               data: JSON.stringify(data, null, '\t'),
               contentType: 'application/json;charset=UTF-8',
               success: function(result) {
                   var res = JSON.parse(result);

                   $.ajax({
                       type: "POST",
                       url: save_url,
                       data: JSON.stringify(res, null, '\t'),
                       contentType: 'application/json;charset=UTF-8',
                       success: function(data){
                           console.log(data);
                       }
                   });
               },
               error: function(result) {
                   var res = {
                       thumbnail: "/static/img/nofoto.jpg",
                       url: target_url,
                       title: "no title"
                   }
                   console.log(res);
               },
               beforeSend: function() {
                   $("#readlater i").removeClass("fa-save");
                   $("#readlater i").addClass("fa-spinner");
                   $("#readlater i").addClass("fa-spin");
                   $("#readlater span").text("Saving..");
               },
               complete: function(){
                   $("#readlater i").removeClass("fa-spinner");
                   $("#readlater i").removeClass("fa-spin");
                   $("#readlater i").addClass("fa-star");
                   $("#readlater span").text("Saved!");
               },
               timeout: 10000
           });

           // make a httprequest to server with url
       }, 100);
   });

  $(document).ready(function() {
      $("time.timeago").timeago();
  })

 </script>



{% endblock %} <!-- end of jsblock -->
{% endblock %} <!-- end of body block -->
